.title-1{
  font-size: 5.625rem;
  font-weight: 900;
}

.title-2{
  font-size: 1.625rem;
  font-weight: 500;
}

.title-3{
  font-size: 60px;
  font-weight: 700;
}

.label {
  color: rgb(158, 158, 158);
}

.label-2 {
  color: rgb(158, 158, 158);
  font-size: 25px;
}

.body-2 {
  font-size: 20px;
}